/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255);
}
